# Create DataFrame
### Create:
- `pd.DataFrame()` 
### Create MultiIndex:
- `pd.MultiIndex` `.from_tuples()`, `.from_arrays()`, ...
### form Flat to MultiIndex:
- `df.set_index()`
### from MultiIndex to Flat:
- `df.index.to_flat_index()`
### Reset Index or a level of it:
- `df.reset_index()`

In [1]:
import pandas as pd
#####
# create using columns
df0 = pd.DataFrame(
    {'col1': [1, 2, 3],
     'col2': [4, 5, 6],
     'col3': [7, 8, 9],
    },
    index = [1, 2, 3]      # otherwise index starts from 0
)     
print("\n#####\ndf0: create using column values"
      "\nuse `pd.DataFrame({})`")
display(df0)

#####
# create using rows
df1 = pd.DataFrame(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9],
    ],
    index=[1, 2, 3],    # otherwise index starts from 0
    columns=['col1', 'col12', 'col3']
)
print("\n#####\ndf1: create using row values"
      "\nuse `pd.DataFrame([])`")
display(df1)

#####
# create a multi-index dataframe
df2 = pd.DataFrame(
    {'col1': [1, 2, 3],
     'col2': [4, 5, 6],
     'col3': [7, 8, 9],
    },
    index = pd.MultiIndex.from_tuples(
        [('apple', 'red'), ('apple', 'green'),
         ('lime', 'green'),
        ],
        names=['fruit','color']
    )
    ## or
    # index = pd.MultiIndex.from_arrays(
    #     [['apple', 'apple', 'lime'],
    #      ['red', 'green', 'green']
    #     ],
    #     names=['fruit','color']
    # )
)
print("\n#####\ndf2: create a multi-index dataframe,"
      "\nuse `pd.MultiIndex()`")
display(df2)
print("df2.index: ", df2.index)

#####
# reshape a flat dataframe to multi-index
df0['fruit'] = ['apple', 'apple', 'lime']
df0['color'] = ['red', 'green', 'green']
# `inplace`: by default, `set_index()` returns a new df
df0.set_index(['fruit', 'color'], inplace=True)
print("\n#####\ndf0: change a flat to multi-index"
      "\nuse `df0.set_index()`")
display(df0)
print("df0.index: ", df0.index)

#####
# reshape from multi-index to flat index, 
# `reset_index()` can be directly called here
df0.set_index(df0.index.to_flat_index(), inplace=True)
print("\n#####\ndf0: change a multi-index to flat,"
      "\nuse `df0.index.to_flat_index()`")
display(df0)
print("df0.index: ", df0.index)

#####
# reset index
# `drop`: by default, the old index is added as a column
df0.reset_index(inplace=True, drop=True)
print("\n#####\ndf0: reset index,"
      "\nuse `df0.reset_index()`")
display(df0)

#####
df0: create using column values
use `pd.DataFrame({})`

   col1  col2  col3
1     1     4     7
2     2     5     8
3     3     6     9

#####
df1: create using row values
use `pd.DataFrame([])`

   col1  col12  col3
1     1      2     3
2     4      5     6
3     7      8     9

#####
df2: create a multi-index dataframe,
use `pd.MultiIndex()`

             col1  col2  col3
fruit color
apple red       1     4     7
      green     2     5     8
lime  green     3     6     9

df2.index:  MultiIndex([('apple',   'red'),
            ('apple', 'green'),
            ( 'lime', 'green')],
           names=['fruit', 'color'])

#####
df0: change a flat to multi-index
use `df0.set_index()`

             col1  col2  col3
fruit color
apple red       1     4     7
      green     2     5     8
lime  green     3     6     9

df0.index:  MultiIndex([('apple',   'red'),
            ('apple', 'green'),
            ( 'lime', 'green')],
           names=['fruit', 'color'])

#####
df0: change a multi-index to flat,
use `df0.index.to_flat_index()`

                col1  col2  col3
(apple, red)       1     4     7
(apple, green)     2     5     8
(lime, green)      3     6     9

df0.index:  Index([('apple', 'red'), ('apple', 'green'), ('lime', 'green')], dtype='object')

#####
df0: reset index,
use `df0.reset_index()`

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

# Reshape Data
## 1- Gather Columns into Rows
### Melt - Unpivot from Wide to Long:
- `pd.melt(df)`
### Melt MultiIndex:
- `pd.melt(df, col_level=None)`

In [2]:
import pandas as pd
#####
# create a df 
df0 = pd.DataFrame(
    {
     'year':        [2018, 2019, 2020],
     'london':      [1, 2, 3],
     'manchester':  [4, 5, 6],
     'glasgow':     [7, 8, 9],
    }
)
print("\n#####\ndf0: create using column values")
display(df0)

#####
# unpivot a flat from wide to long
df0 = pd.melt(
    df0, 
    # column(s) to use as identifier variables
    id_vars=['year'], 
    # column(s) to unpivot
    # uncomment next line to unpivot using only those columns
    #value_vars=['london', 'manchester'], 
    # name to use for the 'variable' column
    var_name='city', 
    # name to use for the 'value' column
    value_name='rate'
)
print("\n#####\ndf0: unpivot from wide to long,"
      "\nuse `pd.melt()`")
display(df0)

#####
# create a multi-index df
df1 = pd.DataFrame(
    {
     'london':      [1, 2, 3],
     'manchester':  [4, 5, 6],
     'glasgow':     [7, 8, 9],
     'dublin':      [10, 11, 12],
    },
    index = pd.MultiIndex.from_arrays(
        [['10s', '10s', '20s'], 
         [2018, 2019, 2020]
        ],
        names= ['dec', 'year']
    )
)
# optional: can simply change the names again
df1.index.set_names(['decade', 'year'], inplace=True)
df1.columns = [list('UUUI'), 
               ['Eng', 'Eng', 'Sco', 'Ire'], 
               df1.columns
              ]
df1.columns.names = ['uk-ir', 'country', 'city']
print("\n#####\ndf1: create a multi-level index and columns,"
      "\nuse `pd.MultiIndex.from_arrays()` and `df.columns`")
display(df1)
print("df1.columns:\n", df1.columns)

#####
# unpivot a multi-index from wide to long
print("\n#####\ndf2: unpivot a multi-index from wide to long")

# optional: if you want only one column, flat the index
#df1.set_index(df1.index.to_flat_index(), inplace=True)

# convert index to a column to be used in the melt
# col_level, int or str, If the columns have multiple levels, 
# determines which level the labels are inserted into 
df2 = df1.copy()
df2.reset_index(col_level=2, inplace=True)
print("\ndf2: insert index into a column,"
      "\nuse `reset_index(col_level=2)`")
display(df2)
print("df1.columns:\n", df2.columns)

df2 = pd.melt(
    df2, 
    id_vars= ['decade', 'year'], 
    # with col_level>0, specifying `value_vars` gives an error,
    # see https://github.com/pandas-dev/pandas/issues/34129
    #value_vars = ['london', 'manchester'],
    var_name='all_cities', 
    value_name='rate',
    # if columns are a MultiIndex then use this level to melt, 
    # int or str
    col_level = 2
)
print("\ndf2: melt to reshape to long"
      "\nuse `melt(col_level=2)`")
display(df2)

#####
df0: create using column values

   year  london  manchester  glasgow
0  2018       1           4        7
1  2019       2           5        8
2  2020       3           6        9

#####
df0: unpivot from wide to long,
use `pd.melt()`

   year        city  rate
0  2018      london     1
1  2019      london     2
2  2020      london     3
3  2018  manchester     4
4  2019  manchester     5
5  2020  manchester     6
6  2018     glasgow     7
7  2019     glasgow     8
8  2020     glasgow     9

#####
df1: create a multi-level index and columns,
use `pd.MultiIndex.from_arrays()` and `df.columns`

uk-ir            U                         I
country        Eng                Sco    Ire
city        london manchester glasgow dublin
decade year
10s    2018      1          4       7     10
       2019      2          5       8     11
20s    2020      3          6       9     12

df1.columns:
 MultiIndex([('U', 'Eng',     'london'),
            ('U', 'Eng', 'manchester'),
            ('U', 'Sco',    'glasgow'),
            ('I', 'Ire',     'dublin')],
           names=['uk-ir', 'country', 'city'])

#####
df2: unpivot a multi-index from wide to long

df2: insert index into a column,
use `reset_index(col_level=2)`

uk-ir                     U                         I
country                 Eng                Sco    Ire
city    decade  year london manchester glasgow dublin
0          10s  2018      1          4       7     10
1          10s  2019      2          5       8     11
2          20s  2020      3          6       9     12

df1.columns:
 MultiIndex([( '',    '',     'decade'),
            ( '',    '',       'year'),
            ('U', 'Eng',     'london'),
            ('U', 'Eng', 'manchester'),
            ('U', 'Sco',    'glasgow'),
            ('I', 'Ire',     'dublin')],
           names=['uk-ir', 'country', 'city'])

df2: melt to reshape to long
use `melt(col_level=2)`

   decade  year  all_cities  rate
0     10s  2018      london     1
1     10s  2019      london     2
2     20s  2020      london     3
3     10s  2018  manchester     4
4     10s  2019  manchester     5
5     20s  2020  manchester     6
6     10s  2018     glasgow     7
7     10s  2019     glasgow     8
8     20s  2020     glasgow     9
9     10s  2018      dublin    10
10    10s  2019      dublin    11
11    20s  2020      dublin    12

## 2- Stack level(s) from columns to index
### Stack:
- `df.stack()`

In [3]:
import pandas as pd
#####
# create a df
df0 = pd.DataFrame(
    {
     'london':      [1, 2, 3],
     'manchester':  [4, 5, 6],
     'glasgow':     [7, 8, 9],
     'dublin':      [10, 11, 12],
    },
    index = pd.MultiIndex.from_arrays(
        [['10s', '10s', '20s'], 
         [2018, 2019, 2020]
        ],
        names= ['dec', 'year']
    )
)
df0.columns.names = ['city']
print("\n#####\ndf0: create using column values")
display(df0)
print("\ndf0: columns is flat with a name:\n", df0.columns)

#####
# stack level(s) from columns to index.
# `level`: level(s) to stack from the column onto the index axis
s1 = df0.stack(level=0)    # default=-1 (last level)
print("\n#####\ns1: stack level(s) from columns to index")
display(s1)
print("\ns1: stacking a flat column df returns a Series,"
      "\nthe rest is index. `type(s1)`:", type(s1))

#####
df0: create using column values

city      london  manchester  glasgow  dublin
dec year
10s 2018       1           4        7      10
    2019       2           5        8      11
20s 2020       3           6        9      12

df0: columns is flat with a name:
 Index(['london', 'manchester', 'glasgow', 'dublin'], dtype='object', name='city')

#####
s1: stack level(s) from columns to index

dec  year  city
10s  2018  london         1
           manchester     4
           glasgow        7
           dublin        10
     2019  london         2
           manchester     5
           glasgow        8
           dublin        11
20s  2020  london         3
           manchester     6
           glasgow        9
           dublin        12
dtype: int64

s1: stacking a flat column df returns a Series,
the rest is index. `type(s1)`: <class 'pandas.core.series.Series'>

## 3- Unstack level(s) from index to columns
### Unstack:
- `df.unstack()`

In [4]:
import pandas as pd
#####
# create a multi-index df
df0 = pd.DataFrame(
    {
     'london':      [1, 2, 3, 4],
     'manchester':  [5, 6, 7, 8],
    },
    index = pd.MultiIndex.from_arrays(
        [['half1', 'half1', 'half2', 'half2'], 
         ['q1', 'q2', 'q1', 'q2']
        ],
        names= ['h', 'q']
    )
)
print("\n#####\ndf0: create df")
display(df0)

#####
# unstack: pivot a level of index to columns
df1 = df0.unstack(level=-1)
print("\n#####\ndf1: unstack the last level of index to columns"
      "\nuse `unstack(level=-1)`")
display(df1)

df2 = df0.unstack(level=0)
print("\ndf2: unstack level 0 of index to columns"
      "\nuse `unstack(level=0)`")
display(df2)

s3 = df2.unstack(level=0)
print("\ns3: unstack df2 with a flat index"
      "\nsince df2's index is flat, the output will be a Series")
display(s3)

#####
df0: create df

          london  manchester
h     q
half1 q1       1           5
      q2       2           6
half2 q1       3           7
      q2       4           8

#####
df1: unstack the last level of index to columns
use `unstack(level=-1)`

      london    manchester
q         q1 q2         q1 q2
h
half1      1  2          5  6
half2      3  4          7  8

df2: unstack level 0 of index to columns
use `unstack(level=0)`

   london       manchester
h   half1 half2      half1 half2
q
q1      1     3          5     7
q2      2     4          6     8

s3: unstack df2 with a flat index
since df2's index is flat, the output will be a Series

            h      q
london      half1  q1    1
                   q2    2
            half2  q1    3
                   q2    4
manchester  half1  q1    5
                   q2    6
            half2  q1    7
                   q2    8
dtype: int64

## 4- Spread Rows into Columns
### Pivot Long to Wide:
- `df.pivot_table()`

In [5]:
import pandas as pd
#####
# create a df 
df0 = pd.DataFrame(
    [['jack', 'tv', 'sony', 2], ['jack', 'radio', 'jvc', 1],
     ['mary', 'radio', 'sony', 3], ['mary', 'tv', '', 4],
     ['alan', 'radio', 'sony', 5], ['alan', 'tv', 'sony', 6],
     ['sara', 'radio', 'sony', 7], ['sara', 'tv', 'jvc', 8],
    ],
    columns = ('user', 'item', 'brand', 'rate'))
print("\n#####\ndf0: flat df")
display(df0)

#####
# reshape df from long to wide, `pivot_table()`, multi-column
df1 = df0.pivot_table(
    index='item', 
    columns=['user', 'brand'], 
    values='rate',
    #aggfunc = 'mean',       # default='mean'
)
print("\n#####\ndf1: reshape from long to wide, multi-column,"
      "\nuse `df0.pivot_table()`")
display(df1)
print("df1: index is flat:\n", df1.index)
print("df1: columns is MultiIndex:\n", df1.columns)


#####
# reshape df `pivot_table()`, multi-index
df2 = df0.pivot_table(
    index=['item', 'user'],
    columns=['brand'], 
    values='rate',
    #aggfunc = 'mean',       # default='mean'
)
print("\n#####\ndf2: reshape,  multi-index,"
      "\nuse `df0.pivot_table()`")
display(df2)
print("df2: index is MultiIndex:\n", df2.index)
print("df2: columns is flat:\n", df2.columns)
print("df2: values is ndarray:\n", df2.values)

####
# reshape df `pivot_table()`, multi-values
# numeric_item is like this: 'radio': 1, 'tv': 2
df0['numeric_item'] = df0['item'].astype('category').cat.codes + 1
df3 = df0.pivot_table(
    values=('rate', 'numeric_item'),
    columns=['brand'], 
    index='user',
    # per `values` element aggfunc
    aggfunc={'rate':'mean', 'numeric_item':'sum'},
)
print("\n#####\ndf3: reshape, multi-values,"
      "\nuse `df0.pivot_table(aggfunc={})`"
      "\n`numeric_item` results:3: radio+tv, 2:tv, 1:radio")
display(df3)

#####
# create a df with with duplicate entries
df4 = pd.DataFrame(
    [['jack', 'tv', 'sony', 2], ['jack', 'radio', 'jvc', 1],
     ['mary', 'radio', 'sony', 3], ['mary', 'tv', '', 4],
     ['alan', 'radio', 'sony', 5], ['alan', 'tv', 'sony', 6],
     ['sara', 'radio', 'sony', 7], ['sara', 'tv', 'jvc', 8],
     ['sara', 'radio', 'sony', float('nan')], ['sara', 'tv', 'jvc', 9],
    ],
    columns = ('user', 'item', 'brand', 'rate'))
print("\n#####\ndf4: flat df with duplicate entries")
display(df4)

#####
# reshape df `pivot_table()`, multi-index, aggfunc
df5 = df4.pivot_table(
    index=['item', 'user'],
    columns=['brand'], 
    values='rate',
    # pd takes care of NaNs when aggregating
    aggfunc = 'sum',       # default='mean'
)
print("\n#####\ndf5: reshape df with duplicate entries, multi-index,"
      "\nuse `df4.pivot_table(aggfunc='sum')`")
display(df5)

# flatten the index
df5.set_index(df5.index.to_flat_index(), inplace=True)
print("\ndf5: flatten the index"
      "\nuse `df.index.to_flat_index()`")
display(df5)

#####
df0: flat df

   user   item brand  rate
0  jack     tv  sony     2
1  jack  radio   jvc     1
2  mary  radio  sony     3
3  mary     tv           4
4  alan  radio  sony     5
5  alan     tv  sony     6
6  sara  radio  sony     7
7  sara     tv   jvc     8

#####
df1: reshape from long to wide, multi-column,
use `df0.pivot_table()`

user  alan jack      mary      sara
brand sony  jvc sony      sony  jvc sony
item
radio  5.0  1.0  NaN  NaN  3.0  NaN  7.0
tv     6.0  NaN  2.0  4.0  NaN  8.0  NaN

df1: index is flat:
 Index(['radio', 'tv'], dtype='object', name='item')
df1: columns is MultiIndex:
 MultiIndex([('alan', 'sony'),
            ('jack',  'jvc'),
            ('jack', 'sony'),
            ('mary',     ''),
            ('mary', 'sony'),
            ('sara',  'jvc'),
            ('sara', 'sony')],
           names=['user', 'brand'])

#####
df2: reshape,  multi-index,
use `df0.pivot_table()`

brand            jvc  sony
item  user
radio alan  NaN  NaN   5.0
      jack  NaN  1.0   NaN
      mary  NaN  NaN   3.0
      sara  NaN  NaN   7.0
tv    alan  NaN  NaN   6.0
      jack  NaN  NaN   2.0
      mary  4.0  NaN   NaN
      sara  NaN  8.0   NaN

df2: index is MultiIndex:
 MultiIndex([('radio', 'alan'),
            ('radio', 'jack'),
            ('radio', 'mary'),
            ('radio', 'sara'),
            (   'tv', 'alan'),
            (   'tv', 'jack'),
            (   'tv', 'mary'),
            (   'tv', 'sara')],
           names=['item', 'user'])
df2: columns is flat:
 Index(['', 'jvc', 'sony'], dtype='object', name='brand')
df2: values is ndarray:
 [[nan nan  5.]
 [nan  1. nan]
 [nan nan  3.]
 [nan nan  7.]
 [nan nan  6.]
 [nan nan  2.]
 [ 4. nan nan]
 [nan  8. nan]]

#####
df3: reshape, multi-values,
use `df0.pivot_table(aggfunc={})`
`numeric_item` results:3: radio+tv, 2:tv, 1:radio

      numeric_item           rate
brand               jvc sony       jvc sony
user
alan           NaN  NaN  3.0  NaN  NaN  5.5
jack           NaN  1.0  2.0  NaN  1.0  2.0
mary           2.0  NaN  1.0  4.0  NaN  3.0
sara           NaN  2.0  1.0  NaN  8.0  7.0

#####
df4: flat df with duplicate entries

   user   item brand  rate
0  jack     tv  sony   2.0
1  jack  radio   jvc   1.0
2  mary  radio  sony   3.0
3  mary     tv         4.0
4  alan  radio  sony   5.0
5  alan     tv  sony   6.0
6  sara  radio  sony   7.0
7  sara     tv   jvc   8.0
8  sara  radio  sony   NaN
9  sara     tv   jvc   9.0

#####
df5: reshape df with duplicate entries, multi-index,
use `df4.pivot_table(aggfunc='sum')`

brand             jvc  sony
item  user
radio alan  NaN   NaN   5.0
      jack  NaN   1.0   NaN
      mary  NaN   NaN   3.0
      sara  NaN   NaN   7.0
tv    alan  NaN   NaN   6.0
      jack  NaN   NaN   2.0
      mary  4.0   NaN   NaN
      sara  NaN  17.0   NaN

df5: flatten the index
use `df.index.to_flat_index()`

brand                jvc  sony
(radio, alan)  NaN   NaN   5.0
(radio, jack)  NaN   1.0   NaN
(radio, mary)  NaN   NaN   3.0
(radio, sara)  NaN   NaN   7.0
(tv, alan)     NaN   NaN   6.0
(tv, jack)     NaN   NaN   2.0
(tv, mary)     4.0   NaN   NaN
(tv, sara)     NaN  17.0   NaN

## 5- Concat DataFrames
### Appennd rows of DataFrames:
- `pd.concat([df1,df2])`
### Append columns of DataFrames:
- `pd.concat([df1,df2], axis=1)`

In [6]:
import pandas as pd
#####
# create two dfs
df0 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
print("\n#####\ndf0: 2x2")
display(df0)

df1 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])
print("\ndf1: 2x3")
display(df1)

df2 = pd.DataFrame([['e', 5, 'cat'], ['f', 6, 'dog'], ['g', 7, 'cat']],
                   columns=['str', 'num', 'animal'])
print("\ndf2: 3x3")
display(df2)

#####
# concat
df3 = pd.concat([df0,df1], axis=0)      # default: axis=0
print("\n#####\ndf3: df0-df1 row-wise concat: 4x3,"
      "\nuse `pd.concat([df0,df1], axis=0)`")
display(df3)
display(df0.dtypes)

df4 = pd.concat([df0,df2], axis=1)
print("\ndf4: df0-df2 column-wise concat: 3x5,"
      "\nuse `pd.concat([df0,df2], axis=1)`,")
display(df4)
print("\ndf4: Note that 'number' column changes"
      "\nfrom int64 to float64, because of NaN")
display(df4.dtypes)

#####
df0: 2x2

  letter  number
0      a       1
1      b       2

df1: 2x3

  letter  number animal
0      c       3    cat
1      d       4    dog

df2: 3x3

  str  num animal
0   e    5    cat
1   f    6    dog
2   g    7    cat

#####
df3: df0-df1 row-wise concat: 4x3,
use `pd.concat([df0,df1], axis=0)`

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

letter    object
number     int64
dtype: object

df4: df0-df2 column-wise concat: 3x5,
use `pd.concat([df0,df2], axis=1)`,

  letter  number str  num animal
0      a     1.0   e    5    cat
1      b     2.0   f    6    dog
2    NaN     NaN   g    7    cat

df4: Note that 'number' column changes
from int64 to float64, because of NaN

letter     object
number    float64
str        object
num         int64
animal     object
dtype: object